<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KORE | Student OS</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
            extend: {
            colors: {
            "kore-crem": "#DED8CB",
            "kore-brown": "#A97C50",
            "kore-pink": "#C04277",
            "kore-orange": "#FF6A3B",
            "kore-bluered": "#250BE9, #FFD4DF"
        },
        fontFamily: {
        'mono': ['ui-monospace', 'SFMono-Regular', 'Menlo', 'monospace'],
        'display': ['"Space Grotesk"', 'sans-serif'],
        }
        }
        }
        }

    </script>
</head>
<body class="bg-kore-crem">
    <nav class="w-full h-[80] bg-white border-b-2 border-black shadow-md px-8 flex justify-between items-center relative z-50">
        <img src="{{ url_for('static', filename='images/Logo.png')}}" alt="KORE logo" class="w-[117] h-auto">
        <div class="flex gap-16 text-xl font-mono text-black">
            <a href="#" class="hover:text-gray-600 transition-all ">Home</a>
            <a href="#" class="hover:text-gray-600 transition-all ">Dashboard</a>
            <a href="#" class="hover:text-gray-600 transition-all ">Login/Sign Up</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>