{% extends "base.html" %}

{% block content %}
<!--Hero Section-->
    <section class="w-full min-h-[calc(100vh-110px] flex flex-col md:flex-row items-center pt-2 px-8 py-20 overflow-hidden relative">
        <div class="w-full md:w-1/2  flex flex-col justify-center z-10">
            <h1 class="font-display font-bold text-5xl md:text-7xl leading-[1.1] tracking-wide text-black drop-shadow-xl max-w-[627px]">
                Oprește Haosul <br>
                Din Sesiune
            </h1>

            <p class="mt-6 text-sm md:text-base text-gray-800 leading-relaxed max-w-[500] font-mono">
                Nu mai pierde timpul cu organizarea. KORE folosește AI pentru a transforma notițele tale dezordonate direct în task-uri și remindere clare. Simplu. Rapid.
            </p>
            <div class="mt-8 relative group inline-block">
                <div class="absolute -insert-1 bg-gradient-to-r from-[#250BE9] to-[#FFD4DF] rounded-2xl blur opacity-40 group-hover:opacity-75 transition duration-200"></div>
                <a href="#" class="relative w-[200px] h-[60px] bg-gradient-to-r from-[#250BE9] to-[#FFD4DF]
                 text-white font-bold text-lg rounded-2xl leading-none
                 flex items-center justify-center shadow-lg hover:scale-[1.02]
                 transition-transform duration-200">
                    Începe Gratuit
                </a>

            </div>
        </div>

        <div class="w-full md:w-1/2 relative mt-12 md:mt-0 flex md:justify-end z-10">

            <div class="relative w-[95%] md:mt-32 transform rotate-[-6deg] hover:rotate-0 transition duration-500 ease-out origin-center">

                <img
                    src="{{ url_for('static', filename='images/dashboardright.png')}}"
                    alt="Dashboard KORE"
                    class="w-full h-auto drop-shadow-2xl rounded-xl"
                >

            </div>

        </div>
    </section>

    <hr class="w-full border-t border-black opacity-60 my-0">

<section class="w-full py-24 px-8 md:px-16 bg-kore-beige">

    <div class="text-center mb-16">
        <h2 class="font-display font-bold text-4xl md:text-5xl tracking-wide text-black drop-shadow-md uppercase">
            De La Haos La Plan,<br>
            În 3 Secunde
        </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-7xl mx-auto justify-items-center">

        <div class="bg-[#A9845B] w-full md:w-[351px] h-[375px] rounded-[32px]
        p-6 flex flex-col justify-between shadow-xl hover:scale-[1.02] transition-transform
        duration-300 relative overflow-hidden">
            <div class="text-[150px] leading-none font-black font-serif text-black opacity-90 select-none">
                1
            </div>
            <div class="relative z-10">
                <h3 class="font-mono font-bold text-lg mb-2 uppercase tracking-widest border-b-2 border-black inline-block pb-1">
                    Tu Scrii Liber
                </h3>
                <p class="font-mono text-xs leading-relaxed text-black font-bold">
                    Fără formulare. Scrie notițele exact cum îți vin în minte, amestecate.
                </p>
            </div>
        </div>

        <div class="bg-[#C94E8F] w-full md:w-[351px] h-[375px] rounded-[32px] p-6 flex flex-col
         justify-between shadow-xl hover:scale-[1.02] transition-transform duration-300 relative overflow-hidden">
            <div class="text-[150px] leading-none font-black font-serif text-black opacity-90 select-none">
                2
            </div>
            <div class="relative z-10">
                <h3 class="font-mono font-bold text-lg mb-2 uppercase tracking-widest border-b-2 border-black inline-block pb-1">
                    AI-ul Structurează
                </h3>
                <p class="font-mono text-xs leading-relaxed text-black font-bold">
                    KORE detectează datele, materiile și urgența. Le sortează automat.
                </p>
            </div>
        </div>

        <div class="bg-[#FF6B35] w-full md:w-[351px] h-[375px] rounded-[32px] p-6 flex flex-col justify-between
         shadow-xl hover:scale-[1.02] transition-transform duration-300 relative overflow-hidden">
            <div class="text-[150px] leading-none font-black font-serif text-black opacity-90 select-none">
                3
            </div>
            <div class="relative z-10">
                <h3 class="font-mono font-bold text-lg mb-2 uppercase tracking-widest border-b-2 border-black inline-block pb-1">
                    Gata De Acțiune
                </h3>
                <p class="font-mono text-xs leading-relaxed text-black font-bold">
                    Primești un dashboard clar cu ce ai de făcut Azi și Mâine.
                </p>
            </div>
        </div>

    </div>

</section>
{% endblock %}