{% extends "base.html" %}

{% block content %}
<!--Hero Section-->
    <section class="w-full min-h-[calc(100vh-110px] flex flex-col md:flex-row items-center px-8 py-20 overflow-hidden relative">
        <div class="w-full md:w-1/2 flex flex-col justify-center z-10">
            <h1 class="font-display font-bold text-5xl md:text-7xl leading-[1.1] tracking-wide text-black drop-shadow-xl max-w-[627px]">
                Oprește Haosul <br>
                Din Sesiune
            </h1>

            <p class="mt-6 text-sm md:text-base text-gray-800 leading-relaxed max-w-[500] font-mono">
                Nu mai pierde timpul cu organizarea. KORE folosește AI pentru a transforma notițele tale dezordonate direct în task-uri și remindere clare. Simplu. Rapid.
            </p>
            <div class="mt-8 relative group inline-block">
                <div class="absolute -insert-1 bg-gradient-to-r from-[#250BE9] to-[#FFD4DF] rounded-2xl blur opacity-40 group-hover:opacity-75 transition duration-200"></div>
                <a href="#" class="relative w-[200px] h-[60px] bg-gradient-to-r from-[#250BE9] to-[#FFD4DF]
                 text-white font-bold text-lg rounded-2xl leading-none
                 flex items-center justify-center shadow-lg hover:scale-[1.02]
                 transition-transform duration-200">
                    Începe Gratuit
                </a>

            </div>
        </div>

        <div class="w-full md:w-1/2 relative mt-12 md:mt-0 flex md:justify-end z-10">

            <div class="relative w-[95%] md:mt-32 transform rotate-[-6deg] hover:rotate-0 transition duration-500 ease-out origin-center">

                <img
                    src="{{ url_for('static', filename='images/dashboardright.png')}}"
                    alt="Dashboard KORE"
                    class="w-full h-auto drop-shadow-2xl rounded-xl"
                >

            </div>

        </div>
    </section>
{% endblock %}