{% extends "base.html" %}

{% block content %}
<!--Hero Section-->
    <section class="w-full min-h-[calc(100vh-110px] flex flex-col md:flex-row items-center px-8 py-12 overflow-hidden relative">
        <div class="w-full md:w-1/2 flex flex-col justify-center z-10">
            <h1 class="font-display font-bold text-5xl md:text-7xl leading-[1.1] tracking-wide text-black drop-shadow-xl max-w-[627px]">
                Oprește Haosul <br>
                Din Sesiune
            </h1>

            <p class="mt-6 text-sm md:text-base text-gray-800 leading-relaxed max-w-[500] font-mono">
                Nu mai pierde timpul cu organizarea. KORE folosește AI pentru a transforma notițele tale dezordonate direct în task-uri și remindere clare. Simplu. Rapid.
            </p>

        </div>

    </section>
{% endblock %}